.variant-header {
  text-transform: uppercase;

  &:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
  }
}

.variant-text {
  font-weight: 500;
}

.link {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  color: white;
  mix-blend-mode: lighten;
}

.link::before {
  background: var(--dark-grey);
  bottom: 0;
  content: "";
  left: 0;
  height: 0.1rem;
  position: absolute;
  transition: width 0.2s ease-in;
  width: 0;
  transform: translateY(calc(-100% + 0.2rem));
}

.link.hover::before,
.link:hover::before {
  width: 100%;
}

.link:visited {
   color: white;
}

.size-large {
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
}

