
.variant-h2 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 500;
  margin: 0;
  word-spacing: -0.5rem;
}

.variant-h3 {
  font-size: clamp(1.5rem, 6vw, 3.5rem);
  font-weight: 500;
  margin: 0;
  padding-top: 2rem;
}

.variant-h4 {
  font-size: clamp(1.3rem, 4vw, 1.8rem);
  font-weight: 500;
  margin: 0;
}

.variant-h5 {
  font-size: clamp(1.1rem, 3vw, 1.4rem);
  font-weight: 500;
  margin: 0;
}

.variant-body {
  color: var(--regular-lighter-grey);
  font-size: clamp(1rem, 3vw, 1.2rem);
  line-height: 1.4;
}

.variant-emph {
  font-weight: 500;
  color: var(--white);
}

