@font-face {
  font-family: "WorkSans";
  src:  url("/static/fonts/worksans/WorkSans-VariableFont_wght.woff2") format('woff2-variations'),
        url("/static/fonts/worksans/WorkSans-VariableFont_wght.ttf") format('TrueType-variations');
}

:root {
  --light-grey: #fefefe;
  --dark-grey: #aaaaaa;
  --regular-light-grey: #fafafa;
  --black: #000000;
}

body {
  background: black;
  font-family: WorkSans, sans-serif;
  height: 5000px;
}
