@import "~normalize.css";
@import '../components/_scrollbar.css';

@font-face {
  font-family: "WorkSans";
  src: url("/static/fonts/worksans/WorkSans-VariableFont_wght.woff2") format('woff2-variations'),
    url("/static/fonts/worksans/WorkSans-VariableFont_wght.ttf") format('TrueType-variations');
}

:root {
  --light-grey-values: 0deg 0% 95%;
  --light-grey: hsl(var(--light-grey-values));
  --dark-grey-values: 0deg 0% 65%;
  --dark-grey: hsl(var(--dark-grey-values));
  --regular-lighter-grey: hsl(0deg 0% 87.5%);
  --regular-light-grey: hsl(0deg 0% 80%);
  --regular-grey-values: 0deg 0% 72.5%;
  --regular-grey: hsl(var(--regular-grey-values));
  --black-values: 0deg 0% 0%;
  --black: hsl(var(--black-values));
  --dark-black: hsl(0deg 0% 10%);
  --lighter-black-values: 0deg 0% 35%;
  --lighter-black: var(--light-black-values);
  --light-black-values: 0deg 0% 20%;
  --light-black: hsl(var(--light-black-values));
  --dark-blue-values: 210deg 25% 50%;
  --dark-blue: hsl(var(--dark-blue-values));
  --light-blue-values: 210deg 100% 50%;
  --light-blue: hsl(var(--light-blue-values));
  --light-orange-values: 20deg 50% 50%;
  --light-orange: hsl(var(--light-orange-values));
  --white-values: 0deg 0% 100%;
  --white: hsl(var(--white-values));
}

body {
  background: var(--dark-black);
  color: var(--light-grey);
  font-family: WorkSans, sans-serif;
  cursor: url("/static/rocket.svg") 0 0, auto;
}